body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  .jukebox-header {
    font-family: 'Pacifico', cursive;
    font-size: 36px; 
    color: #3498db; 
    margin-bottom: 20px; 
  }
  
  .sound-machine {
    background-image: url('box.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    position: relative;
  }
  
  button {
    position: absolute;
    font-size: 16px;
    background-color: rgba(52, 152, 219, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
  }
  
  #dontFearTheReaper {
    top: 120px;
    left: 30px;
  }
  
  #diedInYourArms {
    top: 180px;
    left: 30px;
  }
  
  #hideaway {
    top: 240px;
    left: 30px;
  }
  
  #hotelCaliforna {
    top: 120px;
    left: 170px;
  }
  
  #hometownGlory {
    top: 180px;
    left: 170px;
  }
  
  #hurt {
    top: 240px;
    left: 170px;
  }
  